<h1>Home Page</h1>
<br>
<%= link_to "About", about_path %>
<%= link_to "Contact", contact_path %>
<%= link_to "Projects", projects_path  %>
<%= link_to "Blogs", blogs_path  %>

<h1>Blog Posts</h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>


