<h1>Angular Projects</h1>

<%= link_to "Create New Item", new_project_path %>

<% @angular_project_items.each do |project_item|%>
    <h3><%= link_to project_item.title, project_show_path(project_item) %></h3>
    <p><%= project_item.subtitle %></p>
    <p><%= project_item.body %></p>
    <%= image_tag project_item.thumb_image unless project_item.thumb_image.nil? %>
    <br>
    <%= link_to "Edit", edit_project_path(project_item) %>
    <%= link_to "Delete", project_path(project_item), method: :delete, data: { confirm: "Are you sure you want to delete #{project_item.title}?" } %>
    <hr>
<%end%>